* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: var(--co-white);
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

default {
  list-style: none;
}
summary {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  font-size: 14px;
  font-weight: 700;
  border: 1px var(--color-red) solid;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  transition: all 0.5s ease;
  color: var(--color-white);
  background-color: var(--color-red);
}

.button:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}

input::placeholder {
  font-size: 16px;
  color: var(--color-grey);
}
