#header__div {
  display: none;
  width: 24px;
  height: 24px;
  margin: 5px 0 0 0;
}

#header__menu-icon {
  width: 24px;
  height: 24px;

  display: flex;

  justify-content: center;
  align-items: center;

  z-index: 100;
}

#mobile__nav {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 95;
  padding: 50px 20px 10px;
  background-color: #fff;
  opacity: 1;
  top: 0;
  right: -300px;
  transition: 0.33s;

  text-align: right;
}

#mobile__nav.open {
  right: 0;
}

.mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.mobile__button {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-red);
  border: 1px var(--color-red) solid;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  transition: all 0.5s ease;
}

.mobile__button:hover {
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}

.mobile__link {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #header__div {
    width: 24px;
    height: 24px;
    margin: 5px 0 0 0;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}
