:root {
  --color-black: #111111;
  --color-white: #ffffff;
  --color-coWhite: #eff2f4;
  --color-greyscale: #f2f5f7;
  --color-grey: #313335;
  --color-blue: #0869af;
  --color-red: #f2183c;
  --bg-color-dark-grey: #515456;
  --bg-color-footer: #0a1b28;
  --color-fo-grey: #767980;
}
